<!DOCTYPE html>
<html lang="it" ng-app="YIT">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="ZkhFTFJ1JOfR1nAdAcrz8EutNpFXgP9FVaBFZrJW6IA" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
  <title>Your Italian Teacher - Valeria</title>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css' rel='stylesheet'>
  <link href='dist/fonts/fonts.css' rel='stylesheet' type='text/css'>
</head>
<body ng-cloak="" ng-controller="MainCtrl as main">
  <div id="toastBounds" style="display:block"></div>

  <md-toolbar class="md-tall">
    <div class="md-toolbar-tools" >
      <img hide-gt-sm="" src="dist/yitlogo.png" width="75" height="75">
      <span flex hide-gt-sm></span>
      <md-menu md-offset="0 -7" hide-gt-sm>
        <md-button aria-label="menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-font-icon="fa-bars" class="fa md-hue-2 menu"></md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button href="#/home" ng-click="">
              <span md-menu-align-target>Home</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="#/lessons" ng-click="">
              <span md-menu-align-target>Lessons</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button href="http://blog.youritalianteacher.com" target="_blank" ng-click="">
              <span md-menu-align-target>Materials</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>



      <span flex hide-sm hide-xs></span>

      <img hide-xs hide-sm src="dist/yitlogo.png" width="75" height="75">
      <div hide-xs hide-sm id="logo-big">
        <h2 class='myimpact'>Your Italian Teacher</h2>
        <h3 class='osbold'>tailored online lessons</h3>
      </div>

      <span flex hide-xs hide-sm ></span>
      <md-button hide-xs hide-sm href="#/home" ng-click="">Home</md-button>
      <md-button hide-xs hide-sm href="#/lessons" ng-click="">Lessons</md-button>
      <md-button hide-xs hide-sm href="http://blog.youritalianteacher.com" target="_blank" ng-click="">Materials</md-button>
      <span flex hide-xs hide-sm></span>

    </div>
  </md-toolbar>


  <md-content class="page" ng-view autoscroll>

  </md-content>

  <div class="footer" layout="row" layout-align="end center">
      <span style="color: white" class="osbold">&copy; Your Italian Teacher - P. Iva: 03660550926 - yit.valeria [at] youritalianteacher.com</span>
      <span flex></span>
      <md-button aria-label="menu" class="md-icon-button"  href="https://twitter.com/YitValeria" target="_blank">
        <md-icon md-font-icon="fa-twitter" class="fa md-hue-2 menu"></md-icon>
      </md-button>
      <md-button aria-label="menu" class="md-icon-button" href="https://www.facebook.com/Your-Italian-Teacher-1535981996694251/" target="_blank">
        <md-icon md-font-icon="fa-facebook-official" class="fa md-hue-2 menu"></md-icon>
      </md-button>
      <md-button aria-label="menu" class="md-icon-button" href="https://www.youtube.com/channel/UCizgwPiRhN_XSRywYQ0Xo9w" target="_blank">
        <md-icon md-font-icon=" fa-youtube" class="fa md-hue-2 menu"></md-icon>
      </md-button>
  </div>

  <script src="dist/app.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73251547-1', 'auto');
 </script>
</body>
</html>