<div class="small-stripe" layout="row"></div>
<md-content layout="row">
  <span flex hide-xs></span>
  <div flex-gt-xs="60" flex-xs class="lessons os" layout-padding="">
    <h3>Prenota una Trial Lesson</h3>
    <p>Inserisci il tuo nome e il tuo indirizzo email per prenotare.</p>
    <p>È consigliabile utilizzare un indirizzo gmail per selezionare la data
    e l'ora della trial tramite il Google Calendar che verrà condiviso con te
      una volta ricevuto il pagamento.<br>Nel caso in cui non avessi un indirizzo gmail ti
      contatterò per concordare la data della trial.</p>

    <form name="trialForm">
      <md-input-container class="md-block">
        <label>Il tuo nome</label>
        <input required name="customerName" ng-model="trial.customer.name">
        <div ng-messages="trialForm.customerName.$error">
          <div ng-show="trialForm.customerName.$invalid" ng-message="required">Questo è un campo obbligatorio.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>La tua email</label>
        <input required type="email" name="customerEmail" ng-model="trial.customer.email"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="trialForm.customerEmail.$error" role="alert">
          <div ng-show="trialForm.customerEmail.$invalid" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Devi inserire un indirizzo email valido.
          </div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="end center">
        <!--<md-button ng-disabled="trialForm.$invalid" class="md-raised md-primary" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3DMVHZ5WC98W2&custom={{trial.customer.email}}_{{trial.customer.name}}">Continua</md-button>-->
        <md-button ng-disabled="trialForm.$invalid" class="md-raised md-primary" href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G2LYQRHN49L2N&custom={{trial.customer.email}}_{{trial.customer.name}}">Continua</md-button>
      </div>

    </form>

  </div>
  <span flex hide-xs></span>
</md-content>