md-toolbar.md-tall{
    height: 95px !important;
    min-height: 95px !important;
    max-height: 95px !important;
    padding-top: 15px;
}
.md-button{
    font-family: osbold !important;

}
#logo-big{
    padding-left: 10px;
}
#logo-big h2{
    color: #75A43F;
    font-size: 50px;
}
#logo-big h3{
    color: #D3DACA;
    font-size: 22px;
    text-align: right;
    position: relative;
    top: -10px;
}

.heading{
    padding: 10px;
    color: white;
    font-size: 32px;
}
h3{
    color: #417505;
    font-size: 28px;
}
h4{
    color: #999999;
    font-size: 24px;
    padding-top: 25px;
}
.fa.menu {
    color: white;
    font-size: 22px;
}
.lessons p{
    font-size: 20px;
}
.home-icon .fa{
    font-size: 38px;
}
.home-intro {
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 28px;
}
.home-intro.big{
    font-size: 22px;
}
.home-sep {
    width:100px;border:1px solid white;
    margin-bottom: 40px;
}
.home-stripe{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("./wall.png");
    background-color: #050505;
    width: 100%;

}
.small-stripe{
    background-image: url("./wall.png");
    background-color: #050505;
    width: 100%;
    height: 30px;
}
#home-bg-video {
    background-image: url("./monitor.png");
    background-repeat: no-repeat;
    padding: 21px;
}
.custom_heading1 {
    color: #999999;
    font-size: 24px;
    padding-top: 25px;
}
.normal_text {
    color: #262626;
    font-size: 22px;
    padding-top: 2px !important;
    padding-bottom: 4px !important;
}
a.emph-link, a.emph-link:hover{ color: #417505;}
.footer{
    background-color: #050505;
    padding: 10px;
}
/* FADE TRANSITIONS */
.page.ng-enter {
    transition:0.8s linear all;
    opacity:0;
}
/* The finishing CSS styles for the enter animation */
.page.ng-enter.ng-enter-active {
    opacity:1;
}
